<div class="well">
    <h2>
    <%= link_to article.title, article %>
    </h2>
    <% if article.user.present? %>
      <p class="lead">
      Created by 
    <% if article.user.name.present? %>
        <strong><%= link_to article.user.name.to_s, author_path(article.user) %></strong>
    <%else%>
        <strong><%= link_to article.user.email.to_s, author_path(article.user) %></strong>
    <% end %> 
        <small><%= time_ago_in_words(article.created_at)%> ago </small>
      </p>
    <% end %>
    <p>Tag: 
      <% article.tag_list.each do |tag| %>
        <%= link_to tag, controller: "tags", action: "show", id: tag%>
      <% end %>
    </p>
    <hr>
    <% if article.picture.present? %>
     <%= image_tag article.picture.medium.url, class: "img-responsive", alt: article.title %>
    <hr>
    <% end %>
    <p><%= raw(article.description).truncate(358) %>....</p>
    <hr>
            <%= article.view %> <span class="glyphicon glyphicon-eye-open"></span>
            <%= article.comments.count %> <span class="glyphicon glyphicon-comment"></span>
      <%= link_to article , class: "btn btn-primary" do %>
        Read More <span class="glyphicon glyphicon-chevron-right"></span>
      <%end%>
    <hr>
</div>