		<div class="media">
			<a class="pull-left" href="#">
			 <% if author.avatar.present? %>
				<%= image_tag author.avatar.thumb.url, class: "media-object" %>
			<% else %>
				<%= image_tag(image_url("avatar.png"), class: "media-object") %>
			<% end %>
			</a>

			<div class="media-body">
				<h4 class="media-heading">
				<% if author.name.present? %>
					<%= author.name %>
				<% else %>
					<%= author.email %>
				<% end %>
					<small>Signed up<%= time_ago_in_words(author.created_at) %> ago</small> <br>
				</h4>
			</div>
			Articles (<%= author.articles.count %>)<br>
			<strong><%= link_to 'See all', author_path(author) %></strong>
		</div>
	<!-- Comment -->