<div class="well text-center">
    <% if current_user.avatar.present? %>
     <%= image_tag current_user.avatar.thumb.url, class: "img-thumbnail img-circle"%>
    <% else %>
      <%= image_tag(image_url("avatar.png"), class: "media-object") %>
    <% end %>
  <h3><%= current_user.name %></h3>
  <h5>(<%= current_user.email %>)</h5>
  <ul class= "list-unstyled" >
    <li><%= link_to  'My Account', edit_user_registration_path  %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
  </ul>
</div>